# --- Java & Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- IntelliJ IDEA (Strict) ---
.idea/
*.iml
*.iws
*.ipr
out/

# --- Eclipse (m2e) ---
.project
.classpath
.settings/
.factorypath

# --- Test Data & Automation Outputs ---
target/user-data.properties
test-output/
allure-results/
allure-report/
*.log
.allure/

# --- OS specific files ---
.DS_Store
Thumbs.db
